*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  --green: #00bd1f;
  --blue: #0059ff;
  --orange: #ff8a00;
  --pink: #fb00ff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
}

.bold {
  font-weight: 700;
}
